<%# /home/hp/Desktop/auth2/devise_auth/app/views/user_mailer/byadmin_welcome_email.html.erb %>
<h1>Welcome to Our Platform, <%= @user.first_name %>!</h1>
<p>Your account has been created successfully.</p>
<p>Here are your login details:</p>
<ul>
  <li>Email: <%= @user.email %></li>
  <li>Password: <%= @password %></li>
</ul>
<p>Please log in and change your password as soon as possible.</p>

<p>Best Regards,</p>
<p>The Team</p>