<!DOCTYPE html>
<head>
  <title>MedX</title>
  <link rel="preload" as="image" href="<%= asset_path('blk2.jpg') %>">
</head>

<body class="text-white relative bg-cover" style="background-image: url(<%= asset_path('blk2.jpg') %>); background-size: cover;">

<div class="min-h-screen flex flex-col">
  <!-- Navigation Bar -->
  <%= render 'devise/shared/nav' %>
  <hr class="border-gray-600">

  <!-- Hero Section -->
  <main class="flex-grow container mx-auto px-6 pt-32 pb-16 text-center">
    <p class="text-3xl md:text-8xl text-gray-300 mb-8">
      Discover with MedX
    </p>

    <div class="text-[1.6rem] sm:text-[2.5rem] md:text-[3.875rem] font-Poppins mb-6 leading-tight text-white">
      Manage your appointments and patient records efficiently.
    </div>

    <div class="flex flex-col sm:flex-row items-center justify-center gap-2 sm:gap-4">
      <%# window.location.href is a JavaScript property that represents the URL of the current page %>
      <button onclick="window.location.href='/users/sign_up'" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 rounded-md text-white font-[Poppins] transition-colors w-full sm:w-auto">
        Create account
      </button>
      <span class="text-white">or</span>
        <button onclick="window.location.href='/users/sign_in'" class="px-12 py-2 bg-white hover:bg-gray-100 rounded-md text-blue-500 font-[Poppins] transition-colors flex items-center justify-center gap-2 w-full sm:w-auto">
        Login
      </button>
    </div>
  </main>
</div>

</body>
</html>